In [1]:
import pandas as pd
import os

In [4]:
myfile = [i for i in os.listdir() if i.find(".xlsx")>=0][0]

In [8]:
df = pd.read_excel(myfile)

In [10]:
df.head(3)

           x          y  gid Name  description
0 -77.153461 -12.053746    1    A          NaN
1 -77.148318 -12.057893    2    B          NaN
2 -77.151808 -12.052035    3    C          NaN